<ul *ngFor="let product of products">
  <li>
    <span>{{ product.name }}</span>
    <span>{{ product.price }}</span>
    <input type="button" name="add" value="kjøp" />
  </li>
</ul>

<h2>Drikke</h2>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->

<div>
  <ul>
    <li>Kaffe</li>
    <li>Brus</li>
    <li>Te</li>
    <li>Kakao</li>
  </ul>
</div>

<h2>Mat</h2>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->

<div>
  <ul>
    <li>Baget</li>
    <li>Mat mufins</li>
    <li>Brød</li>
    <li>Runstyke</li>
  </ul>
</div>

<h2>Desert</h2>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->

<div>
  <ul>
    <li>Kake</li>
    <li>Krosang</li>
    <li>Boller</li>
    <li>Kake</li>
    <li>Pandesjokolat</li>
    <li>Cookie</li>
    <li>Mufins</li>
    <li>Kanelbolle</li>
    <li>Sokoladebolle</li>
    <li>Skolebolle</li>
    <li>Sokoladekake</li>
    <li>Gulerotkake</li>
  </ul>
</div>
